.header {
    height: 50px;
    background-color: skyblue;
}

.contents {
    height: 600px;
    padding-top: 10px;
    background-color: blue;
}

.wrapper {
    width: 100%;
    margin: 0 auto;
}

.left {
   height: 600px;
    width: 33.3%;
    float: left;
    background-color: pink;
    
}

.right {
    height: 600px;
    width: 33.3%;
    float: left;
    background-color: gold;
}

.center {
    height: 600px;
    width: 33.3%;
    float: left;
    background-color: green;
}